// Ref: https://paletton.com/#uid=73A0u0km9++9W+SgG+ZrH+WC0ZE
$dennisblue: #5cacff !default;
$dennisyellow: #ffedb0 !default;

$theme-colors: (
    "dennisblue": $dennisblue,
    "dennisyellow": $dennisyellow
);
