$backtotop-bottom-position: 5rem !default;
$backtotop-left-position: auto !default;
$backtotop-right-position: 0 !default;
$backtotop-limited-bottom-position: 2rem !default;
$backtotop-limited-left-position: 2.5rem !default;
$backtotop-limited-right-position: auto !default;

#back-to-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .7s ease 0s, visibility .1s ease .8s;
    display: block;
    position: fixed;
    bottom: $backtotop-bottom-position;
    left: $backtotop-left-position;
    right: $backtotop-right-position;
    a {
        &:hover,
        &:focus {
            background-color: $dennisyellow !important; // Override generated Bootstrap $theme-colors selectors.
            box-shadow: 0 0 4px map-get($theme-colors, 'dennisyellow');
            color: $dennisblue;
        }
    }
    .icon {
        margin-right: 0;
    }
}

body.limitedwidth {
    #back-to-top {
        bottom: $backtotop-limited-bottom-position;
        left: $backtotop-limited-left-position;
        right: $backtotop-limited-right-position;
    }
}

$drawer-left-width: 285px !default;
.jsenabled #page.drawers.show-drawer-left #back-to-top {
    left: $drawer-left-width + 40px;
}

@include media-breakpoint-down(sm) {
    #back-to-top {
        bottom: 0;
    }
}

#back-to-top.shown {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s ease 0s, opacity .7s ease .1s;
}
