{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_dennis/serverdatetime

    Server date time

    Context variables required for this template:
    * serverdatetime - The date time from the server.

    Example context (json):
    {
        "serverdatetime": "17/12/2022 18:54:39"
    }
}}

<div class="row">
    <div class="col-12 text-center">
        <button id="serverdatetimebtn" type="button" class="btn btn-primary text-center">{{# str }} serverdatetimebutton, theme_dennis {{/ str }}</button>
    </div>
    <p class="col-12 text-center">{{# str }} serverdatetime, theme_dennis {{/ str }}<span id="theserverdatetime">{{ serverdatetime }}</span></p>
</div>
{{#js}}
require(['theme_dennis/serverdatetime'], function(ServerDateTime) {
    ServerDateTime.serverdatetimeInit('{{ serverdatetime }}');
});
{{/js}}